@model Json_Test.Models.Request.RegisterMailModel_Sk

<div class="container">
    <div class="row less-transparent margin-bottom-0">
        <div class="col-md-12">
            <h2>Chcete prvotriedne webové stránky?</h2>
        </div><!-- /.col-md-12 -->
    </div>
    <div class="row less-transparent margin-bottom-0">
        <div class="col-md-6">
            <p class="normal">
                Zadajte svoj e-mail a získajte ihneď <strong>zdarma</strong> e-book, ktorý vám pomôže získať <strong>prvotriedny web</strong>.
                <span class="small-info">
                    Milujeme pekné a funkčné weby. Preto vám darujeme <i class="fa fa-heart fa-2x"></i> návod ako zadať a skontrolovať prácu vášho dodávateľa webových stránok.
                </span>
            </p>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6">
            @Html.Partial("_SeFormPerfectWeb")
            <p class="spam-info">
                <em>Spamovať vás nebudeme. Na to nemáme čas.</em>
            </p>
        </div><!-- /.col-md-6 -->
    </div>
</div>

