
@{
    ViewBag.Title = "ContactSendSuccess";
}

<h2>ContactSendSuccess</h2>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Odoslanie správy</h1>
                <p>Vaša správa bola úspešne odoslaná.</p>
                <p class="normal">
                    Ďakujeme, že ste nás kontaktovali. Ozveme sa čoskoro. Kópia správy bola odoslaná aj na vami zadanú e-mailovú adresu.
                </p>
            </div><!-- /.col-md-12 -->
        </div>
    </div>
</div>

<hr />
<div>
    
    @*
        Posielanie na home stranku alert formular na posielanie mailu
        @Html.Partial("_RegisterMail_PerfectWeb")
        
    *@
</div>

